@model Pie

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <p class="button">
            <input class="btn btn-primary" type="button" onclick="AddToShopingCart(@Model.PieId)" value="Add to cart">
        </p>
    </div>
</div>